.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: black;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  z-index: 1000;
}

.curved-div {
  margin-left: 200px;
  margin-top: 22px;
  // padding: 20px;
  overflow-y: auto;
  border-top-left-radius: 7px;
  /* Apply border-radius to the top left corner */
  border-top-right-radius: 7px;
  /* Apply border-radius to the top right corner */
  border-bottom-left-radius: 7px;
  /* Apply border-radius to the bottom left corner */
  border-bottom-right-radius: 7px;
  /* Apply border-radius to the bottom right corner */
  background-color: #fff;
  /* Set background color */
}

/* Add any additional styling as needed */