<!-- sidenav.component.html
<nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/search">Search</a></li>
    </ul>
  </nav>
   -->
   <!-- sidenav.component.html -->
<div class="sidenav">
    <div class="card" style="margin-top: 20px;">
      <div class="card-header">Navigation</div>
      <div class="card-body">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/search">Search</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Other Content</div>
      <div class="card-body">
        <!-- Other content for the second card -->
      </div>
    </div>
  </div>
  