<!-- <div class="background">
    <div>
        <h1>Spotify Playlists</h1>
    </div>

<div class="q8AZzDc_1BumBHZg0tZb">
    <div class="OMuRYOdpUbGif12_lRJl Ka1dWQSP_XL6v8hGDuTA">
        <div class="onVWL7MW4PW9FyVajBAc">
            <h2 data-encore-id="type" class="Type__TypeElement-sc-goli3j-0 kqHgh"><a draggable="false"
                    data-testid="see-all-link" class="MfVrtIzQJ7iZXfRWg6eM"
                    href="/section/0JQ5DAuChZYPe9iDhh2mJz">Spotify Playlists</a></h2>
        </div><a draggable="false" class="a7lvtXATo3HALtrsOHtO HOgue4Eg4UdBR58M0633"
            href="/section/0JQ5DAuChZYPe9iDhh2mJz"><span
                class="Text__TextElement-sc-if376j-0 gYdBJW encore-text-body-small-bold" data-encore-id="text">Show
                all</span></a>
    </div>
</div>
</div> -->
<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let song of songs | slice:0:5">
        <app-song-card [song]="song"></app-song-card>
      </div>
    </div>
  </div>
  