/* You can add global styles to this file, and also import other style files */
/* styles.scss */
body {
    // background: linear-gradient(to top, #000000, #333333);
    background:  black;
  }

  ::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust the color of the scrollbar thumb */
    border-radius: 3px; /* Adjust the border-radius of the scrollbar thumb */
  }